<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="keyurpatel90_shopfinder" id="keyurpatel90_shopfinder">
			<module before="Magento_Backend" name="Keyurpatel90_Shopfinder"/>
		</route>
		<route frontName="shopfinder" id="shopfinder">
			<module before="Magento_Backend" name="Keyurpatel90_Shopfinder"/>
		</route>
	</router>
</config>
